/* 
    COLORS REFERENCE:
    	background: #26003b
*/

/* custom faces */

@font-face {
    font-family: "Bitter";
    src: url('./assets/fonts/BitterFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;

    font-family: 'Bitter', serif;

    margin: 0 auto;

    /* para dili ma-select ang text sa tanan */
  
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome, Safari, and newer Edge */
    -khtml-user-select: none; /* Older versions of Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.header {
    width: 100%;
    height: 50px;

    background-color: #fff;
    background: white;

    margin: 0 auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a {
    padding-right: 5vw;
    text-align: center;
    text-decoration: none;
    cursor: default;
}

/* intro */

#home {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    color: black;

    overflow: hidden;
}

/* intro slideshow */

#slideshow {
    list-style-type: none;
}

#slideshow li span { 
    position: absolute;

    width: 100vw;
    height: 100vh;

    top: 0px;
    left: 0px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
    z-index: -100; /* ilubong sa overall layer */
    animation: imageAnimation 30s linear infinite 0s; 
}

/* slideshow images (refer to <li><span>) */

#slideshow li:nth-child(1) span { 
    background-image: url("assets/img/intro-img/slide1.jpg");
}
#slideshow li:nth-child(2) span { 
    background-image: url("assets/img/intro-img/slide2.jpg");
    animation-delay: 6s; 
}
#slideshow li:nth-child(3) span { 
    background-image: url("assets/img/intro-img/slide3.jpg");
    animation-delay: 12s; 
}
#slideshow li:nth-child(4) span { 
    background-image: url("assets/img/intro-img/slide4.jpeg");   
    animation-delay: 18s; 
}
#slideshow li:nth-child(5) span { 
    background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9963ea913260bb41b0e_powerlines.jpg");
    animation-delay: 24s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* loading class */

.loading {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin .5s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* scrollbar. chuy man rehehehe */

::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar track */
    height: 10px; /* height of the scrollbar track */
}
  
::-webkit-scrollbar-track {
    background: #ffffff; /* background color of the scrollbar track */
}
  
::-webkit-scrollbar-thumb {
    background: #26003b; /* color of the scrollbar thumb */
}
  
::-webkit-scrollbar-thumb:hover {
    background: #4f007c; /* color of the scrollbar thumb on hover */
}